apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-api-pvc
  namespace: microservices-assessment
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
